@import "color.scss";

.contact {
  height: 100vh;
  width: 100vw;
  background: url("../assets/contactbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 80%;
    justify-content: center;
    background: $textWhite;
    > h2 {
      text-transform: uppercase;
      font-size: 1.5rem;
      margin: 2rem 0;
    }
    > input,
    > textarea,
    > button {
      padding: 1rem 0;
      outline: none;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom: 1px solid $textDark;
      margin: 0.5rem;
      width: 60%;
      resize: none;
    }
    .no-outline:focus {
      outline: none;
    }
    > button {
      border: none;
      background: $textDark;
      cursor: pointer;
      color: $textWhite;
      font-size: 15px;

      &:hover {
        background: $hover;
        transition: 0.3s ease-in-out;
      }
    }
    > div {
      position: absolute;
      top: 50%;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.566));
      right: -32px;

      img {
        width: 100px;
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .contact {
    height: 85vh;
    > form {
      width: 45%;
      margin-top: 80px;
      padding: 0;
      >h2{
        margin: 0;
      }
      > input,
      > textarea,
      > button {
        width: 75%;
      }
    }
  }
}


@media screen and (max-width: 700px) {
  .contact {
    height: 85vh;
    > form {
      width: 70%;
    }
  }
}
