@import "color.scss";

footer {
  min-height: 100px;
  background: $textDark;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $textWhite;
  align-items: center;

  div {

    h2 {
      font-size: 2rem;
    }

    p {
      margin: 10px 0;
    }
  }

  aside {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 2rem;
    }

    a {
      margin: 0.5rem;
      color: $textWhite;
    }
    &:hover {
      color: $textLight;
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;

    div {
    text-align: center;
    }
  }
}
