@import "color.scss";

footer {
  min-height: 300px;
  background: $textDark;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $textWhite;

  div {

    h2 {
      font-size: 2rem;
    }

    p {
      margin: 10px 0;
    }
  }

  aside {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 2rem;
    }

    a {
      margin: 0.5rem;
      color: $textWhite;
    }
    &:hover {
      color: $textLight;
    }
  }
}

@media screen and (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;

    div {
    text-align: center;

    p {
      margin: 10px 0;
      font-size: 15px;
    }
    }
    aside {
  
      a {
        margin: 0.5rem;
        color: $textWhite;
        font-size: 15px;
      }
      &:hover {
        color: $textLight;
      }
    }
  }
}
