@import "./color.scss";

.home {
  height: 100vh;
  overflow-x: hidden;
  div {
    padding-left: 8rem;
    padding-top: 10rem;
    position: relative;
    z-index: 1;

    > h1 {
      font-family: 'Sora', sans-serif;
      font-size: 6.5rem;
      text-transform: uppercase;
      color: $textWhite;
      text-shadow: 0 0 5px brown;
    }
    > p {
      font-family: 'Sora', sans-serif;
      font-size: 3rem;
      color: $textWhite;
      text-shadow: 0 0 5px brown;
    }
  }
  > a {
    box-shadow: 0 0 0 black;
    position: relative;
    z-index: 1;
    margin:1.8rem 8rem;
    display: block;
    width:10rem;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
    color:$textWhite;
    border: 2px solid $textWhite;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 0 0 2px $textDark;
    &:hover{
        background: $btnHoverColor;
        box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
    }
  }

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    background: url("../assets/heroBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    max-width: 1500px;
  }
};

@media screen and (max-width: 900px) {
  .home {
    div {
     > h1 {
       font-size: 5rem;
     }
 
     > p {
       font-size: 2.5rem;
     }
    }
  }
 }
 

@media screen and (max-width: 767px) {
 .home {
   div {
    text-align: center;
    padding-top:10rem;
    padding-left: 0rem;

    > h1 {
      font-size: 3rem;
    }

    > p {
      font-size: 1.5rem;
      margin: 20px;
    }
   }
   > a {
    margin: 10px auto;
   }
 }
}
