@import "color.scss";

#menu {
  width: 100%;
  min-height: 100vh;
  background: $textLight;
  // padding: 4rem;
  .menuHeader {
    background: $secondaryColor;
    padding: 4rem;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    color: $textWhite;
  }
  > div {
    display: flex;
    justify-content: space-evenly;
  }
}
