@import "color.scss";

#menu {
  width: 100%;
  min-height: 100vh;
  background: $textLight;
  // padding: 4rem;
  .menuHeader {
    font-family: "Sora", sans-serif;
    background: $textDark;
    padding: 4rem;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    color: $textWhite;
    margin-bottom: 40px;
  }
  > .menuCard {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 40px;

    > .burgerCard {
      width: 30%;
      background: $textWhite;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
      margin: 15px 0;
      &:hover {
        box-shadow: 0 0 10px $dark;
        transition: 0.3s ease-in;
      }

      > div {
        background: $textDark;
        display: flex;
        align-items: center;
        padding: 2rem;
        color: $textWhite;
        height: 4rem;
      }
      > main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > img {
          height: 15rem;
          width: 100%;
          object-fit: cover;
        }
        > h5 {
          font-size: 1.5rem;
          text-align: center;
          padding: 1rem;
          text-transform: capitalize;
          letter-spacing: 2px;
        }
        > p {
          padding: 1rem 0;
          font-size: 1rem;
        }
        > button {
          margin: 1rem 0;
          padding: 10px 30px;
          cursor: pointer;
          background: $textDark;
          color: $textWhite;
          border: none;
          border-radius: 5px;
          &:hover {
            background: $btnHoverColor;
            transition: all 0.2s ease-in-out;
            border: 1px solid $textDark;
            color: $textDark;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  #menu {
    .menuCard > .burgerCard > main > h5 {
      font-size: 1.2rem;
    }
  }
}

@media screen and (max-width: 900px) {
  #menu {
    .menuHeader {
      font-size: 2.5rem;
    }
    .menuCard {
      flex-direction: column;

      .burgerCard {
        width: 50%;
        margin: 1rem auto;
        main {
          h5 {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #menu {
    .menuCard {
      flex-direction: column;

      .burgerCard {
        width: 60%;
        main {
          h5 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
