@import "color.scss";

.paymentSuccess {
  height: 100vh;
  width: 100vw;
  background: url("../assets/contactbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  > main {
    height: 100%;
    background: white;
    max-width: 900px;
    margin: auto;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: column;

    > h1 {
      text-transform: uppercase;
      text-align: center;
      margin: 1rem;
      font-size: 3rem;
    }
    > p {
      text-align: center;
    }
    > a {
      background: rgb(214, 35, 0);
      padding: 10px;
      color: #fff;
      text-align: center;
      border-radius: 5px;
      border: 2px solid #fff;
      margin: 20px auto;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 900px) {
  .paymentSuccess > main {
    padding: 2rem 0;
    width: 94%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: white;
  }
  .paymentSuccess > main > h1 {
    font-size: 2rem;
    margin: 20px auto;
  }
}
